---
title: "{{ title }} Gallery"
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }} Gallery</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1>{{ title }} Gallery</h1>
  {% gallery folder %}
  <a href="/index.html">Back to Home</a>
</body>
</html>
